@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
  --colour-main:#7380ec;
  --colour-trouble:#ff7782;
  --colour-good:#41f1b6;
  --colour-warning:#ffbb55;
  --colour-white:#fff;
  --colour-info-dark:#7d8da1;
  --colour-info-light:#dce1eb;
  --colour-dark:#363949;
  --colour-light:rgba(132, 139, 200, 0.18);
  --colour-primary-variant:#111e88;
  --colour-dark-variant:#677483;
  --color-background:#f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--colour-light)
}

.App{
  background-color: var(--color-background);
  height: 100%;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  overflow-x: hidden;

}

img{
  display: block;
  width: 100%;
}

h1{
  font-weight: 800;
  font-size: 1.8rem;
  
}
h2{

  font-size: 1.4rem;

}
h3{

  font-size: 0.87rem;
}
h4{ 
  font-size: 0.8rem ;
}

h5{
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;

}

.text-muted{
  color: var(--colour-info-dark);
}

p{
  color: var(--colour-dark-variant);
}

b{
  color: var(--colour-dark);
}

.main{
  color: var(--colour-main);
}
.trouble{
  color: var(--colour-trouble);
}
.good{ 
  color: var(--colour-good);
}
.warning{
  color: var(--colour-warning);
}

aside{

  height: 100vh;
  width: 20vw;
  display: inline-block;
  position: fixed;
  left: 0;
  background-color: #F6F6F9;
  border-right: 2px #E0E4E8 dotted;

}


aside .logo img{
  width: 2rem;
  height: 2rem;
}

aside .top{
 display: flex;
 justify-content: center;
 gap: 0.8rem;
 background-color: white;
 background-color: #F6F6F9;
 margin-top: 1rem;


}

aside .logo{
  display: flex;
  gap: 0.8rem;
}

aside .close{
  display: none;
}


/* Sidebar */

aside .sidebar{
  background-color: white;
  background-color: #F6F6F9;
  position: relative;
  top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: var(--card-padding);


}

.pages{
  margin-left: 20vw;
}

/* top section */


.nav-bar{

  background-color: #F6F6F9;
  height: 50px;
  margin-left: 20vw;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  width: 80vw;


}

.navigation-items{
  display: flex;
}

.profile{
  display: flex;
  gap: 0.8rem;
  margin-right: 0.5rem;
}

.menu-bars{

  margin-left: 0.5rem;
  display: none;

}

.sidebar-item{
  margin-right: 0.8rem;
  color: #082f83;
  text-decoration: none;

}

/* media quiries */

@media screen and (max-width: 1200px){

  .App{

  }

  .menu-bars{
    display: inline;
  }

  .nav-bar{
    justify-content: space-between;
    margin: 0;
    width: 100vw;

  }

  aside{
    display: none;
    width: 250px;
    left: -100px;
    animation: showMenu 400ms ease forwards;
    z-index: 1;
  }

  @keyframes showMenu {
    to{
      left:0;
    }
    
  }

  aside .close{
    display: block;
  }

  .pages{
    margin-top: 100px;
    
  }
  
}

/* graphs */

.graph-content{
  background-color: #111e88;
  height: 40vh;
}

.graphs{
  background-color: #ff7782;
  height: 40vh;
}

.graph{
  height: 100%;
  width: 100%;
  margin-top: 20px;
  background-color: white;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}

.line-graph-container{
  background-color: blue;
  height: 40vh;
}

.line-graph{
  background-color: white;
  width: 100%;
  margin-top: 20px;
  height: 80%;
  border-radius: var(--border-radius-1);

}

.project-container{
  /* background-color: #7380ec; */
  height: 50vh;
  margin-top: 20px;
}

.projects-table{
  background-color: white;
  border-radius: var(--border-radius-1);
  height: 50vh;
}

/* card css */

.cardIcon{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-bottom: 10%;
}

/* graphs */

.charts{
  background-color: white;
  
}

/* login Page */

.LoginPage{
 position: absolute;
 background-color: white;
 z-index: 2;
}












